In [2]:
#받아온 배열
#input = ["감기", "머리", "통증"]
input = ["감기"]

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 KB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

WARNING: Ignoring invalid distribution -ype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -onlpy (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -onlpy (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -onlpy (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -onlpy (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -onlpy (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -onlpy (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -onlpy (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\ace35\anaconda3\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'C:\Users\ace35\anaconda3\python.exe -m pip install --upgrade pip' command.

In [5]:
#테이블 생성
word = tuple(input)
print(word)

import pymysql

conn = pymysql.connect(host='127.0.0.1', user='jspbook', password='1234', db='developer', charset='utf8') 
cursor = conn.cursor() 


sql = '''CREATE TABLE user ( 
    department1 varchar(255) NOT NULL PRIMARY KEY, 
    department2 varchar(255) ,
    department3 varchar(255) ,
    department4 varchar(255)
    ) 
    '''
cursor.execute(sql)
conn.commit() 
if len(word) == 0 or len(word) == 1 :
    string = "다시 실행해 주세요."

if len(word) == 2 :
    sql = "INSERT INTO user (department1, department2) VALUES (%s, %s)" 
    cursor.execute(sql,word)
    sql1 = '''UPDATE user
      SET department1 = CASE 
          WHEN department1= '가렵다' THEN '가려움'
          WHEN department1= '가루약' THEN '가루약이'
          WHEN department1= '간호사' THEN '간호사가'
          WHEN department1= '감기' THEN '감기로'
          WHEN department1= '검사' THEN '검사가'
          WHEN department1= '금식' THEN '금식을'
          WHEN department1= '금연' THEN '금연을'
          WHEN department1= '금주' THEN '금주가'
          WHEN department1= '노화' THEN '노화가'
          WHEN department1= '답답' THEN '답답한'
          WHEN department1= '당뇨병' THEN '당뇨병을'
          WHEN department1= '머리' THEN '머리가'
          WHEN department1= '면역' THEN '면역이'
          WHEN department1= '몸' THEN '몸이'
          WHEN department1= '무기력' THEN '무기력한'
          WHEN department1= '물약' THEN '물약을'
          WHEN department1= '변비' THEN '변비가'
          WHEN department1= '병' THEN '병이'
          WHEN department1= '병원' THEN '병원을'
          WHEN department1= '불안' THEN '불안한'
          WHEN department1= '붓다' THEN '부은'
          WHEN department1= '붕대' THEN '붕대가'
          WHEN department1= '빈혈' THEN '빈혈이'
          WHEN department1= '상처' THEN '상처가'
          WHEN department1= '설사' THEN '설사를'
          WHEN department1= '성병' THEN '성병이'
          WHEN department1= '소화제' THEN '소화제가'
          WHEN department1= '수면제' THEN '수면제가'
          WHEN department1= '술' THEN '술이'
          WHEN department1= '숨차다' THEN '숨이 차서'
          WHEN department1= '식도염' THEN '식도염이'
          WHEN department1= '약효' THEN '약효가'
          WHEN department1= '오른쪽' THEN '오른쪽이'
          WHEN department1= '왼쪽' THEN '왼쪽이'
          WHEN department1= '의사' THEN '의사가'
          WHEN department1= '입원' THEN '입원을'
          WHEN department1= '자극' THEN '자극이'
          WHEN department1= '전염' THEN '전염이'
          WHEN department1= '중독' THEN '중독이'
          WHEN department1= '진단서' THEN '진단서를'
          WHEN department1= '체온' THEN '체온이'
          WHEN department1= '충격' THEN '충격이'
          WHEN department1= '충혈' THEN '충혈이'
          WHEN department1= '치료' THEN '치료가'
          WHEN department1= '치매' THEN '치매가'
          WHEN department1= '커피' THEN '커피를'
          WHEN department1= '통증' THEN '통증이'
          WHEN department1= '퇴원' THEN '퇴원을'
          WHEN department1= '팔' THEN '팔이'
          WHEN department1= '피곤' THEN '피곤해서'
          WHEN department1= '화상' THEN '화상이'
          WHEN department1= '환자' THEN '환자가'
          WHEN department1= '회복' THEN '회복이'
          ELSE department1
          END;''' 
    cursor.execute(sql1)
    conn.commit()
    sql2 = '''UPDATE user
      SET department2 = CASE 
          WHEN department2= '답답' THEN '답답함'
          WHEN department2= '당뇨병' THEN '당뇨병을'
          WHEN department2= '머리' THEN '머리에'
          WHEN department2= '무기력' THEN '무기력함'
          WHEN department2= '물약' THEN '물약을'
          WHEN department2= '변비' THEN '변비가'
          WHEN department2= '병' THEN '병이'
          WHEN department2= '병원' THEN '병원을'
          WHEN department2= '불안' THEN '불안한'
          WHEN department2= '술' THEN '술이'
          WHEN department2= '오른쪽' THEN '오른쪽이'
          WHEN department2= '왼쪽' THEN '왼쪽이'
          WHEN department2= '팔' THEN '팔이'
          WHEN department2= '피곤' THEN '피곤하다'
          WHEN department2= '화상' THEN '화상이'
          WHEN department2= '환자' THEN '환자가'
          WHEN department2= '회복' THEN '회복이'
          ELSE department2
          END;'''
    cursor.execute(sql2)
    conn.commit()   
    
if len(word) == 3 :
    sql = "INSERT INTO user (department1, department2, department3) VALUES (%s, %s, %s)" 
    cursor.execute(sql,word)
    sql1 = '''UPDATE user
      SET department1 = CASE 
          WHEN department1= '가렵다' THEN '가려움'
          WHEN department1= '가루약' THEN '가루약이'
          WHEN department1= '간호사' THEN '간호사가'
          WHEN department1= '감기' THEN '감기로'
          WHEN department1= '검사' THEN '검사가'
          WHEN department1= '금식' THEN '금식을'
          WHEN department1= '금연' THEN '금연을'
          WHEN department1= '금주' THEN '금주가'
          WHEN department1= '노화' THEN '노화가'
          WHEN department1= '답답' THEN '답답한'
          WHEN department1= '당뇨병' THEN '당뇨병을'
          WHEN department1= '머리' THEN '머리가'
          WHEN department1= '면역' THEN '면역이'
          WHEN department1= '몸' THEN '몸이'
          WHEN department1= '무기력' THEN '무기력한'
          WHEN department1= '물약' THEN '물약을'
          WHEN department1= '변비' THEN '변비가'
          WHEN department1= '병' THEN '병이'
          WHEN department1= '병원' THEN '병원을'
          WHEN department1= '불안' THEN '불안한'
          WHEN department1= '붓다' THEN '부은'
          WHEN department1= '붕대' THEN '붕대가'
          WHEN department1= '빈혈' THEN '빈혈이'
          WHEN department1= '상처' THEN '상처가'
          WHEN department1= '설사' THEN '설사를'
          WHEN department1= '성병' THEN '성병이'
          WHEN department1= '소화제' THEN '소화제가'
          WHEN department1= '수면제' THEN '수면제가'
          WHEN department1= '술' THEN '술이'
          WHEN department1= '숨차다' THEN '숨이 차서'
          WHEN department1= '식도염' THEN '식도염이'
          WHEN department1= '약효' THEN '약효가'
          WHEN department1= '오른쪽' THEN '오른쪽이'
          WHEN department1= '왼쪽' THEN '왼쪽이'
          WHEN department1= '의사' THEN '의사가'
          WHEN department1= '입원' THEN '입원을'
          WHEN department1= '자극' THEN '자극이'
          WHEN department1= '전염' THEN '전염이'
          WHEN department1= '중독' THEN '중독이'
          WHEN department1= '진단서' THEN '진단서를'
          WHEN department1= '체온' THEN '체온이'
          WHEN department1= '충격' THEN '충격이'
          WHEN department1= '충혈' THEN '충혈이'
          WHEN department1= '치료' THEN '치료가'
          WHEN department1= '치매' THEN '치매가'
          WHEN department1= '커피' THEN '커피를'
          WHEN department1= '통증' THEN '통증이'
          WHEN department1= '퇴원' THEN '퇴원을'
          WHEN department1= '팔' THEN '팔이'
          WHEN department1= '피곤' THEN '피곤해서'
          WHEN department1= '화상' THEN '화상이'
          WHEN department1= '환자' THEN '환자가'
          WHEN department1= '회복' THEN '회복이'
          ELSE department1
          END;''' 
    cursor.execute(sql1)
    conn.commit()
    sql2 = '''UPDATE user
      SET department2 = CASE     
          WHEN department2= '가렵다' THEN '가려움'
          WHEN department2= '가루약' THEN '가루약이'
          WHEN department2= '간호사' THEN '간호사가'
          WHEN department2= '감기' THEN '감기로'
          WHEN department2= '검사' THEN '검사가'
          WHEN department2= '금식' THEN '금식을'
          WHEN department2= '금연' THEN '금연을'
          WHEN department2= '금주' THEN '금주가'
          WHEN department2= '노화' THEN '노화가'
          WHEN department2= '답답' THEN '답답한'
          WHEN department2= '당뇨병' THEN '당뇨병을'
          WHEN department2= '머리' THEN '머리가'
          WHEN department2= '면역' THEN '면역이'
          WHEN department2= '몸' THEN '몸이'
          WHEN department2= '무기력' THEN '무기력한'
          WHEN department2= '물약' THEN '물약을'
          WHEN department2= '변비' THEN '변비가'
          WHEN department2= '병' THEN '병이'
          WHEN department2= '병원' THEN '병원을'
          WHEN department2= '불안' THEN '불안한'
          WHEN department2= '붓다' THEN '부은'
          WHEN department2= '붕대' THEN '붕대가'
          WHEN department2= '빈혈' THEN '빈혈이'
          WHEN department2= '상처' THEN '상처가'
          WHEN department2= '설사' THEN '설사를'
          WHEN department2= '성병' THEN '성병이'
          WHEN department2= '소화제' THEN '소화제가'
          WHEN department2= '수면제' THEN '수면제가'
          WHEN department2= '술' THEN '술이'
          WHEN department2= '숨차다' THEN '숨이 차서'
          WHEN department2= '식도염' THEN '식도염이'
          WHEN department2= '약효' THEN '약효가'
          WHEN department2= '오른쪽' THEN '오른쪽이'
          WHEN department2= '왼쪽' THEN '왼쪽이'
          WHEN department2= '의사' THEN '의사가'
          WHEN department2= '입원' THEN '입원을'
          WHEN department2= '자극' THEN '자극이'
          WHEN department2= '전염' THEN '전염이'
          WHEN department2= '중독' THEN '중독이'
          WHEN department2= '진단서' THEN '진단서를'
          WHEN department2= '체온' THEN '체온이'
          WHEN department2= '충격' THEN '충격이'
          WHEN department2= '충혈' THEN '충혈이'
          WHEN department2= '치료' THEN '치료가'
          WHEN department2= '치매' THEN '치매가'
          WHEN department2= '커피' THEN '커피를'
          WHEN department2= '통증' THEN '통증이'
          WHEN department2= '퇴원' THEN '퇴원을'
          WHEN department2= '팔' THEN '팔이'
          WHEN department2= '피곤' THEN '피곤해서'
          WHEN department2= '화상' THEN '화상이'
          WHEN department2= '환자' THEN '환자가'
          WHEN department2= '회복' THEN '회복이'
          ELSE department2
          END;'''
    cursor.execute(sql2)
    conn.commit()
    sql3 = '''UPDATE user
      SET department3 = CASE 
          WHEN department3= '가렵다' THEN '가려움'
          WHEN department3= '답답' THEN '답답함'
          WHEN department3= '무기력' THEN '무기력함'
          WHEN department3= '물약' THEN '물약을'
          WHEN department3= '진단서' THEN '진단서를'
          WHEN department3= '체온' THEN '체온이'
          WHEN department3= '충격' THEN '충격이'
          WHEN department3= '충혈' THEN '충혈이'
          WHEN department3= '치료' THEN '치료가'
          WHEN department3= '치매' THEN '치매가'
          WHEN department3= '커피' THEN '커피를'
          WHEN department3= '통증' THEN '통증을'
          WHEN department3= '퇴원' THEN '퇴원을'
          WHEN department3= '팔' THEN '팔이'
          WHEN department3= '피곤' THEN '피곤함' 
          ELSE department3
          END;'''
    cursor.execute(sql3)
    conn.commit()     
if len(word) == 4 :
    sql = "INSERT INTO user (department1, department2, department3, department4) VALUES (%s, %s, %s, %s)" 
    cursor.execute(sql,word) 
    sql = '''UPDATE user    
      SET department1 = CASE 
          WHEN department1= '가렵다' THEN '가려움'
          WHEN department1= '가루약' THEN '가루약이'
          WHEN department1= '간호사' THEN '간호사가'
          WHEN department1= '감기' THEN '감기로'
          WHEN department1= '검사' THEN '검사가'
          WHEN department1= '금식' THEN '금식을'
          WHEN department1= '금연' THEN '금연을'
          WHEN department1= '금주' THEN '금주가'
          WHEN department1= '노화' THEN '노화가'
          WHEN department1= '답답' THEN '답답한'
          WHEN department1= '당뇨병' THEN '당뇨병을'
          WHEN department1= '머리' THEN '머리가'
          WHEN department1= '면역' THEN '면역이'
          WHEN department1= '몸' THEN '몸이'
          WHEN department1= '무기력' THEN '무기력한'
          WHEN department1= '물약' THEN '물약을'
          WHEN department1= '변비' THEN '변비가'
          WHEN department1= '병' THEN '병이'
          WHEN department1= '병원' THEN '병원을'
          WHEN department1= '불안' THEN '불안한'
          WHEN department1= '붓다' THEN '부은'
          WHEN department1= '붕대' THEN '붕대가'
          WHEN department1= '빈혈' THEN '빈혈이'
          WHEN department1= '상처' THEN '상처가'
          WHEN department1= '설사' THEN '설사를'
          WHEN department1= '성병' THEN '성병이'
          WHEN department1= '소화제' THEN '소화제가'
          WHEN department1= '수면제' THEN '수면제가'
          WHEN department1= '술' THEN '술이'
          WHEN department1= '숨차다' THEN '숨이 차서'
          WHEN department1= '식도염' THEN '식도염이'
          WHEN department1= '약효' THEN '약효가'
          WHEN department1= '오른쪽' THEN '오른쪽이'
          WHEN department1= '왼쪽' THEN '왼쪽이'
          WHEN department1= '의사' THEN '의사가'
          WHEN department1= '입원' THEN '입원을'
          WHEN department1= '자극' THEN '자극이'
          WHEN department1= '전염' THEN '전염이'
          WHEN department1= '중독' THEN '중독이'
          WHEN department1= '진단서' THEN '진단서를'
          WHEN department1= '체온' THEN '체온이'
          WHEN department1= '충격' THEN '충격이'
          WHEN department1= '충혈' THEN '충혈이'
          WHEN department1= '치료' THEN '치료가'
          WHEN department1= '치매' THEN '치매가'
          WHEN department1= '커피' THEN '커피를'
          WHEN department1= '통증' THEN '통증이'
          WHEN department1= '퇴원' THEN '퇴원을'
          WHEN department1= '팔' THEN '팔이'
          WHEN department1= '피곤' THEN '피곤해서'
          WHEN department1= '화상' THEN '화상이'
          WHEN department1= '환자' THEN '환자가'
          WHEN department1= '회복' THEN '회복이'
          ELSE department1
          END;''' 
    cursor.execute(sql)
    conn.commit()
        
    
    sql = '''UPDATE user
      SET department2 = CASE     
          WHEN department2= '가렵다' THEN '가려움'
          WHEN department2= '가루약' THEN '가루약이'
          WHEN department2= '간호사' THEN '간호사가'
          WHEN department2= '감기' THEN '감기로'
          WHEN department2= '검사' THEN '검사가'
          WHEN department2= '금식' THEN '금식을'
          WHEN department2= '금연' THEN '금연을'
          WHEN department2= '금주' THEN '금주가'
          WHEN department2= '노화' THEN '노화가'
          WHEN department2= '답답' THEN '답답한'
          WHEN department2= '당뇨병' THEN '당뇨병을'
          WHEN department2= '머리' THEN '머리가'
          WHEN department2= '면역' THEN '면역이'
          WHEN department2= '몸' THEN '몸이'
          WHEN department2= '무기력' THEN '무기력한'
          WHEN department2= '물약' THEN '물약을'
          WHEN department2= '변비' THEN '변비가'
          WHEN department2= '병' THEN '병이'
          WHEN department2= '병원' THEN '병원을'
          WHEN department2= '불안' THEN '불안한'
          WHEN department2= '붓다' THEN '부은'
          WHEN department2= '붕대' THEN '붕대가'
          WHEN department2= '빈혈' THEN '빈혈이'
          WHEN department2= '상처' THEN '상처가'
          WHEN department2= '설사' THEN '설사를'
          WHEN department2= '성병' THEN '성병이'
          WHEN department2= '소화제' THEN '소화제가'
          WHEN department2= '수면제' THEN '수면제가'
          WHEN department2= '술' THEN '술이'
          WHEN department2= '숨차다' THEN '숨이 차서'
          WHEN department2= '식도염' THEN '식도염이'
          WHEN department2= '약효' THEN '약효가'
          WHEN department2= '오른쪽' THEN '오른쪽이'
          WHEN department2= '왼쪽' THEN '왼쪽이'
          WHEN department2= '의사' THEN '의사가'
          WHEN department2= '입원' THEN '입원을'
          WHEN department2= '자극' THEN '자극이'
          WHEN department2= '전염' THEN '전염이'
          WHEN department2= '중독' THEN '중독이'
          WHEN department2= '진단서' THEN '진단서를'
          WHEN department2= '체온' THEN '체온이'
          WHEN department2= '충격' THEN '충격이'
          WHEN department2= '충혈' THEN '충혈이'
          WHEN department2= '치료' THEN '치료가'
          WHEN department2= '치매' THEN '치매가'
          WHEN department2= '커피' THEN '커피를'
          WHEN department2= '통증' THEN '통증이'
          WHEN department2= '퇴원' THEN '퇴원을'
          WHEN department2= '팔' THEN '팔이'
          WHEN department2= '피곤' THEN '피곤해서'
          WHEN department2= '화상' THEN '화상이'
          WHEN department2= '환자' THEN '환자가'
          WHEN department2= '회복' THEN '회복이'
          ELSE department2
          END;'''
    cursor.execute(sql)
    conn.commit()    
    
    sql = '''UPDATE user
      SET department3 = CASE 
          WHEN department3= '가렵다' THEN '가려움'
          WHEN department3= '가루약' THEN '가루약이'
          WHEN department3= '간호사' THEN '간호사가'
          WHEN department3= '감기' THEN '감기로'
          WHEN department3= '검사' THEN '검사가'
          WHEN department3= '금식' THEN '금식을'
          WHEN department3= '금연' THEN '금연을'
          WHEN department3= '금주' THEN '금주가'
          WHEN department3= '노화' THEN '노화가'
          WHEN department3= '답답' THEN '답답한'
          WHEN department3= '당뇨병' THEN '당뇨병을'
          WHEN department3= '머리' THEN '머리가'
          WHEN department3= '면역' THEN '면역이'
          WHEN department3= '몸' THEN '몸이'
          WHEN department3= '무기력' THEN '무기력한'
          WHEN department3= '물약' THEN '물약을'
          WHEN department3= '변비' THEN '변비가'
          WHEN department3= '병' THEN '병이'
          WHEN department3= '병원' THEN '병원을'
          WHEN department3= '불안' THEN '불안한'
          WHEN department3= '붓다' THEN '부은'
          WHEN department3= '붕대' THEN '붕대가'
          WHEN department3= '빈혈' THEN '빈혈이'
          WHEN department3= '상처' THEN '상처가'
          WHEN department3= '설사' THEN '설사를'
          WHEN department3= '성병' THEN '성병이'
          WHEN department3= '소화제' THEN '소화제가'
          WHEN department3= '수면제' THEN '수면제가'
          WHEN department3= '술' THEN '술이'
          WHEN department3= '숨차다' THEN '숨이 차서'
          WHEN department3= '식도염' THEN '식도염이'
          WHEN department3= '약효' THEN '약효가'
          WHEN department3= '오른쪽' THEN '오른쪽이'
          WHEN department3= '왼쪽' THEN '왼쪽이'
          WHEN department3= '의사' THEN '의사가'
          WHEN department3= '입원' THEN '입원을'
          WHEN department3= '자극' THEN '자극이'
          WHEN department3= '전염' THEN '전염이'
          WHEN department3= '중독' THEN '중독이'
          WHEN department3= '진단서' THEN '진단서를'
          WHEN department3= '체온' THEN '체온이'
          WHEN department3= '충격' THEN '충격이'
          WHEN department3= '충혈' THEN '충혈로'
          WHEN department3= '치료' THEN '치료가'
          WHEN department3= '치매' THEN '치매가'
          WHEN department3= '커피' THEN '커피를'
          WHEN department3= '통증' THEN '통증이'
          WHEN department3= '퇴원' THEN '퇴원을'
          WHEN department3= '팔' THEN '팔이'
          WHEN department3= '피곤' THEN '피곤해서'
          WHEN department3= '화상' THEN '화상이'
          WHEN department3= '환자' THEN '환자가'
          WHEN department3= '회복' THEN '회복이'
          ELSE department3
          END;'''
    cursor.execute(sql)
    conn.commit()          
    
    sql = '''UPDATE user
      SET department4 = CASE 
          WHEN department4= '가렵다' THEN '가려움'
          WHEN department4= '답답' THEN '답답함'
          WHEN department4= '무기력' THEN '무기력함'
          WHEN department4= '물약' THEN '물약을'
          WHEN department4= '진단서' THEN '진단서를'
          WHEN department4= '체온' THEN '체온이'
          WHEN department4= '충격' THEN '충격이'
          WHEN department4= '충혈' THEN '충혈이'
          WHEN department4= '치료' THEN '치료가'
          WHEN department4= '치매' THEN '치매가'
          WHEN department4= '커피' THEN '커피를'
          WHEN department4= '통증' THEN '통증을'
          WHEN department4= '퇴원' THEN '퇴원을'
          WHEN department4= '팔' THEN '팔이'
          WHEN department4= '피곤' THEN '피곤함' 
          ELSE department4
          END;'''
    cursor.execute(sql)
    conn.commit()

('감기',)

OperationalError: (1045, "Access denied for user 'jspbook'@'localhost' (using password: YES)")

In [ ]:
if len(word) == 2 or len(word) == 3 or len(word) == 4:
    curs = conn.cursor()
    #SQL 문 정의
    sql = "select * from user"
    #SQL 문 실행
    curs.execute(sql)
    rows = curs.fetchone()

    conn.close() 

    rows = list(filter(bool, rows))
    string = ' '.join(rows)

print(string)

다시 실행해 주세요.

In [1]:
#테이블 초기화
#pymysql 설치 필요
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='jspbook', password='1234', db='developer', charset='utf8') 
cursor = conn.cursor() 
sql1 = '''DROP TABLE user'''
cursor.execute(sql1) 
string=""
conn.commit() 
conn.close()

ModuleNotFoundError: ignored